.projects-container {
    width: 100%;
    padding-top:20px;
}

.title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding:40px;
    gap: 25px;
}

.project-card {
    background: var(--bg-container);
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.1);
    transition: transform .3s ease, box-shadow .3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0,0,0,0.15);
}

.projects-container.hover-active {
  background: rgba(161, 149, 160, 0.4);
  box-shadow: 
    0 0 60px rgba(121, 12, 89, 0.39) inset,    /* pink-ish inner glow */
    0 0 120px rgba(121, 6, 118, 0.25) inset;    /* purple inner glow */
  transition: 0.4s ease;
}




.project-video video,
.video-element {
    width: 100%;
    height: 180px;
    border-radius: 12px;
    object-fit: cover;
}

.img-placeholder {
    width: 100%;
    height: 160px;
    /* background: var(--bg-container); */
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-container);
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 14px;
}

.project-name {
    font-size: 22px;
    margin: 15px 0 5px;
    font-weight: 600;
}

.project-desc {
    font-size: 15px;
    color: #555;
    margin-bottom: 15px;
}

.project-btn {
    padding: 10px 15px;
    width: 100%;
    border: none;
    /* background: #000; */
    background : linear-gradient(90deg, #2c0851ff, #a30e58ff);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.project-btn:hover {
    background: #444;
}

@media(max-width:379px){
    .projects-grid {
       grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
       padding:20px;
    }
}

