.move-skills-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  padding: 20px 0;
}

.marquee-track {
  display: inline-flex;
  gap: 80px;
  /* background-color:red; */
}

.item {
  display: inline-flex;   /* side-by-side */
  align-items: center;
  gap: 2px;              /* space between img & text */
  white-space: nowrap;    /* never break line */
}

.item img {
  width: 35px;
  height: 30px;
  object-fit: contain;
}