.glimps-wrapper {
  display: flex;
  flex-direction:row;
  align-items: center;
  gap: 60px;
  padding: 60px 80px;
  margin:40px;
  border-radius:60px;
  border: 2px solid #f4f4f44f;
  position: relative;
  background-color:#f5f5f5;
}

/* The collage container */
.collage {
  width: 50%;
  height: 600px;
  position: relative;
  background-color:#fff;
}

.collage img{
  width:100%;
  height:100%;
  object-fit:cover;
  overflow:hidden;
}

/* Card-style boxes with text overlay */
.card-glimps img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.card .label {
  position: absolute;
  bottom: 12px;
  left: 12px;
  padding: 4px 10px;
  background: #00000099;
  font-size: 14px;
  border-radius: 6px;
}


/* Right text part */
.right-content {
  width: 40%;
  display:flex;
  flex-direction:column;
  gap:20px;
  /* position:relative; */
}

.right-side{
  position:absolute;
  top:100px;
  display:flex;
  flex-direction:column;
  gap:20px;
}


.right-content h1 {
  /* font-size: 380%; */
  font-size: clamp(24px, 4vw, 40px);
  font-weight: 700;
  color: #000;
  max-width: 80%;
}

.right-content p {
  /* font-size: 150%; */
  margin-top:15px;
  font-size: clamp(14px, 2vw, 22px);
  line-height: 1.6;
  max-width: 90%;
  color: #333;
}

.right-div .second-parah{
  margin-top:30px;
}


.right-div-button button{
  padding: 10px;
  border-radius: 10px;
  width:70%;
  /* height:20%; */
}


/* Responsive */
@media (max-width: 700px) {
  .glimps-wrapper {
    flex-direction: column;
    padding: 5px;
    gap:10px;
    margin:0px;
    margin-top:95px;
  }

  .collage {
    width: 100%;
    height: auto;
    margin:0px;
    /* height: 400px; */
  }

  .right-side{
    position:static;
    top:auto;
  }
  .right-div-button button{
    margin-bottom:20px;
  }

  .right-content {
    width: 90%;
    /* text-align: center; */
  }
}

