*{
    margin:0;
    padding:0;
}

.hero-section {
  width: 100%;
  height: 700px; /* Adjust as needed */
  background-image: url('../../assets/home-bg.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  display:flex;
  gap:5px;
  /* justify-content:space-between; */
  /* background-color:pink; */
}

.hero-img-div{
    position: absolute;
    top:-4%;
    right: 0%;
    width: 50%;
    height:70%;
    /* border-radius:50%; */
    /* background-color:red; */
    display:flex-reverse;
    justify-content:center;
    align-items:center;
    /* overfloe:hidden; */


    /* background: linear-gradient(90deg, #2c0851ff, #a30e58ff);  */
    /* -webkit-background-clip: text; */
    /* background-clip: text; */
    /* color: transparent; */
}

/* .user-img {  */
  /* display:flex; */
  /* justify-self:center; */
  /* padding-top:10px; */
  /* width:60%; */
  /* align-self:center; */
  /* padding:30px; */
  /* background-color:green; */
/* } */

.img-user{
    width: 50%;
    padding-top:30px;
    padding-left:90px;
    /* height:100%; */
}

.hero-heading-div{
    position: absolute;
    top:15%;
    left:10%;
    color:white;
    /* padding-left:60px; */
    /* background-color:blue; */
    /* display:flex;
    flex:1; */
    width:50%;
    height:85%;
    /* height:75%;
    display:flex;
    justify-content:start;
    flex-wrap:wrap; */
}

.hero-heading-div h2{
    font-size: clamp(2rem, 10vw, 8rem);
    color:white;
    padding-left:60px;
    padding:20px;
    /* display:flex;
    flex-wrap:wrap; */
}

.moving-txt-div {
  background-color: #82828277;
  overflow: hidden;
  position: absolute;
  left:9%;
  width: 65%; 
  height: 80px; /* Adjust */
  display: flex;
  align-items: center;
  /* margin-top:15px; */
  /* display:none; */
}

.moving-text {
  position: absolute;
  /* left:30%; */
  white-space: nowrap;
  font-size: 2rem;
  /* color: white; */
  font-weight: 600;
  padding-right: 6rem;


  background: linear-gradient(90deg, #2c0851ff, #a30e58ff); /* purple → pink */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}



@media(max-width: 1050px){
    .img-user{
       width: 60%;
       padding-left:50px;
       padding-top:70px;
    }
    .moving-txt-div {
        left:%;
        width:66%;
        height: 60px;
    }
    .hero-heading-div{
        padding-top:65px;
        /* left:2%; */
    }
}

@media(max-width: 930px){
    .img-user{
       width: 65%;
    }
    .moving-txt-div {
        width:75%;
    }
}

@media(max-width: 860px){
    .img-user{
       width: 70%;
       padding-left:50px;
       padding-top:90px;
    }
    .moving-txt-div {
        display:none;
    }
    .hero-heading-div{
        padding-top:45px;
        left:2%;
    }
}

@media(max-width: 800px){
    .hero-heading-div{
        height:75%;
        top:18%;
        left:4%;
        width:62%;
    }
}



@media(max-width: 750px){
    .moving-txt-div {
        left:6%;
        width:75%;
        height: 60px;
    }
    .img-user{
       width: 75%;
       padding-left:60px;
       /* padding-top:50px; */
    }
}

@media(max-width: 720px){
    .img-user{
       width: 75%;
       /* padding-left:30px; */
       padding-top:100px;
    }
}


@media(max-width: 500px){
    .hero-section {
        height:50vh;
    }
    .img-user{
       width: 82%;
       padding-left:30px;
       padding-top:50px;
    }

}

@media(max-width: 350px){
    .img-user{
       width: 92%;
       padding-left:8px;
       padding-top:50px;
    }
    .hero-heading-div{
        padding-top:45px;
    }
    .hero-img-div{
        /* left:55%;width */
        width:44%;
    }

}




