.experience-section {
  width: 100%;
  padding: 60px 0;
  text-align: center;
  color: #222;
  background: var(--container);
}


.experience-heading {
  font-size: 45px;
  /* color:black; */
  font-weight: 700;
  transform: translateY(10px);
  transition: 0.9s ease;
}



.experience-heading.glow {
  opacity: 1;
  transform: translateY(0);
  text-shadow: 0 0 8px rgba(0, 110, 255, 0.4);
}



.experience-cards {
  position: relative;
  margin-top: 50px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content:space-around;
  /* border:2px solid black; */
}

.experience-cards::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  /* background: #4b6cb7; */
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  border-radius: 2px;
}


/* Card Style for White BG */
.exp-card {
  background: #ffffff;
  border: 1px solid red;
  padding: 25px;
  margin:25px;
  width: 70%;
  height:50vh;
  border-radius: 12px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}

.exp-card img{
    width:100%;
    height:60%;
    object-fit:cover;
    /* margin:auto; */
    padding-top:30px;
    /* position:absolute; */
    /* height: ; */
}

.exp-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}


@media(max-width:560px){
    .experience-cards {
      flex-direction: column;
      /* margin:20px; */
    }
    .exp-card {
        /* width: 20%; */
        height:50vh;
      /* background: red; */
      /* margin:20px; */
    }
}
