:root {
  --bg: #ffffff;
  --text: #000000;
  --card: #f5f5f5;
  --container: #f5f5f5; 
  --bg-container: #e7e7e7; 
  --text-container: #666;
  --achivement-bg: #ffffff;
  --achivement-txt: #000000;
  --hero-overlay: rgba(255,255,255,0); 
  --hero-text-color: white;
}

.dark-theme {
  --bg: #0d1117;
  --text: #e6edf3;
  --card: #161b22;
  --container: #1e1e1e; 
  --bg-container: #1e1e1e; 
  --text-container: #cccccc; 
  --achivement-bg: linear-gradient(90deg, #2c0851ff, #a30e58ff);;
  --achivement-txt: #ffffff;
  --hero-overlay: rgba(0,0,0,0.5);
  --hero-text-color: white;  
}

/* Use variables everywhere */
body {
  background-color: var(--bg);
  color: var(--text);
}

.card {
  background-color: var(--card);
}
